body {
background-color: #4c5844;
font-family: bender;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282e22;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
header {
    background-color: #282e22;
    text-align: center;
    }
#MainContent {
    background-color: #3e4637;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
    float: left;
}
#SecondaryContent {
    background-color: #3e4637;
        box-sizing: border-box;
        border-style: solid;
        border-width: 2px;
        border-color: #808080;
        float: right;
        padding: 2px;
}
#DescargasContent {
    background-color: #3e4637;
        box-sizing: border-box;
        border-style: solid;
        border-width: 2px;
        border-color: #808080;
        float: left;
}
#DescargasContent a {
    color: red;
}
#DescargasContent h2 {
    color: #889c63;
}
#banner img {
    max-width: 99%;
    height: 50%;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

.dlink {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}